<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/11/16 11:02:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead1.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testngLearning.CreateLead1@544fe44c]">createLead</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/11/16 11:02:48</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead1.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testngLearning.CreateLead1@544fe44c]">createLead</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 11:02:39</td>   <td>-9126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testngLearning.CreateLead1@544fe44c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
</table>
